@use '@angular/material' as mat;

// Tema mínimo compatible con Material v18 (sin funciones viejas)
$theme: mat.define-theme((
  color: (theme-type: light)
));

// Aplica el tema a todos los componentes de Material
:root {
  @include mat.all-component-themes($theme);
}

/* Globales */
html, body { height: 100%; }
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color-scheme: light;
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
}
